#canvas {
  display: flex;
  justify-content: space-evenly;
}

#figure {
  border: 2px solid black;
  width: 800px;
  height: 600px;
}

#analyze {
  color: green;
  width: 450px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}
